






<h1>Users index html I promise</h1>

<% if current_user %>
<ul>
  <% @users.each do |user| %>
    <li><h3>Signed up User:</h3> <%= user.email %> - <%= user.password_digest %> - <%= user.is_admin %></li>

  <% end %>
  </ul>
  <%= link_to 'Items', items_path %>

<% else %>
  <%= link_to 'Items', items_path %>
<% end %>
