
<!-- create_table "items", force: :cascade do |t|
    t.string   "name"
    t.integer  "quantity"
    t.integer  "case_price"
    t.integer  "unit_price"
    t.string  "category"
  end -->
<h1>Item.edit page</h1>

<% if current_user && current_user.is_admin %>

  <h1>edit.html for items</h1>

  <%= form_for @item do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
    <div>
      <%= f.label :case_price %>
      <%= f.number_field :case_price %>
    </div>
    <div>
      <%= f.label :unit_price %>
      <%= f.number_field :unit_price %>
    </div>
    <div>

      <%= f.label :category %>
      <%= f.select :category, options_for_select([["Select One", ""], "veggies", "fruit", "spreads"]) %>
    </div>
    <div>
      <%= f.submit %>
    </div>


  <% end %>

<% else %>
<!-- <form action="/items/:id/sell" method="sell">
    <input type="number" id ="user_input"/>
      <button>Sell</button>
  </form>
 -->
<%= form_for @item, :url => { :action => "sell" } do |f| %>
  Sold: <%= f.label :quantity %>
      <%= f.number_field :quantity %>
<%= f.submit %>
  <% end %>
<br>
<%= link_to 'Back', items_path %>
<br>
<br>
<form action="/logout" method="post">
  <input name="_method" value="DELETE" type="hidden">
  <button>Logout</button>
</form>

<% end %>
