<div class="row">
<div class="col-md-10 col-md-offset-1 col-xs-12">
<h1 class="food-table center">What We Have in Stock</h1>
</div>
</div>
<!-- items -->
<!-- t.string   "name"
    t.integer  "quantity"
    t.integer  "case_price"
    t.integer  "unit_price"
    t.integer  "category_id"
    t.string   "category" -->
    <div class="row">
<div class="col-md-10 col-md-offset-1 col-xs-12">
<table class="food-table black table table-hover">
  <thead>
    <tr>
      <th class="tab">Name</th>
      <th>Quantity</th>
      <th>Case Price</th>
      <th>Unit Price</th>
      <th>Category</th>

      <%= form_tag items_path, :method => 'get' do %>
        <p>
        <%= select_tag :search, options_for_select(@search_options)  %>
        <%= submit_tag "Search", :name => :nil, :class => 'btn btn-danger btn-xs active' %>
        </p>
      <% end %>info

      <% if current_user && current_user.is_admin %>
        <th><%= link_to 'New Item', new_item_path, :class => 'btn btn-warning btn-xs active' %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><strong><%= link_to item.name, item_path(item) %></strong></td>
        <td><%= item.quantity %></td>
        <td><%= item.case_price %></td>
        <td><%= item.unit_price %></td>
        <td><%= item.category.name %></td>
        <% if current_user %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <% end%>
        <% if current_user && current_user.is_admin %>
          <td><%= link_to 'Delete Item', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
