<h1>Items#index I promise</h1>
<!-- items -->
<!-- t.string   "name"
    t.integer  "quantity"
    t.integer  "case_price"
    t.integer  "unit_price"
    t.integer  "category_id"
    t.string   "category" -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Case Price</th>
      <th>Unit Price</th>
      <th>Category</th>

      <% if current_user && current_user.is_admin %>
      <th><%= link_to 'New Item', new_item_path %></th>
      <% else%>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><strong><%= item.name %></strong></td>
        <td><%= item.quantity %></td>
        <td><%= item.case_price %></td>
        <td><%= item.unit_price %></td>
        <td><%= item.category %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <% if current_user && current_user.is_admin %>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% else %>

        <% end %>

    <% end %>
  </tbody>
</table>
  <form action="/logout" method="post">
    <input name="_method" value="DELETE" type="hidden">
      <button>Logout</button>
  </form>
