<!-- create_table "items", force: :cascade do |t|
    t.boolean  "item_id"
    t.string   "item_name"
    t.integer  "quantity"
    t.string   "season"
    t.integer  "case_price"
    t.integer  "unit_price"
    t.integer  "category_id"
    t.datetime "created_at",  null: false
    t.datetime "updated_at",  null: false
  end -->
  <h1>New item</h1>

<% if current_user && current_user.is_admin %>

  <%= form_for @item do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
    <div>
      <%= f.label :case_price %>
      <%= f.number_field :case_price %>
    </div>
    <div>
      <%= f.label :unit_price %>
      <%= f.number_field :unit_price %>
    </div>
    <div>
      <%= f.label :category %>
      <%= f.select :category, options_for_select([["Select One", ""], "veggies", "fruit", "spreads"]) %>
    </div>
    <div>
      <%= f.submit %>
    </div>


  <% end %>
  <%= link_to 'Back', items_path %>
<% else %>

  <h1>You must be a manager to access this page.</h1>

<% end %>
