<div class="col-md-8 col-md-offset-2 col-xs-12">
  <h1 class="center food-table"><%= @item.name %></h1>
</div>
<div class="col-md-8 col-md-offset-2 col-xs-12">

  <p class="showy food-table">
    We currently stock <%= @item.quantity %> of these <%= @item.category.name %> at
    $<%= @item.case_price %> a case, or you can buy them at $<%= @item.unit_price %> each.
    To edit (and get all this info on the same page), you must be logged in. Then, click edit in 'View All Items' page.
    Thank you for your business!
  </p>
</div>

<%= link_to "Back to Total Items", items_path, :class => 'btn btn-warning btn-md active col-md-offset-10 col-xs-5 col-md-2' %>

