<!DOCTYPE html>
<html>
<head>
  <title>Project2App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale">
</head>
<body id = "all">
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <%= link_to 'Home', users_path %>
    </li>

    <li role="presentation" >
      <%= link_to 'View All Items', items_path %>
    </li>

    <% if current_user %>



    <li role="presentation" class="active">
      <form action="/logout" method="post">
        <input name="_method" value="DELETE" type="hidden">
        <button>Logout</button>
      </form>
    </li>
  </ul>
    <% else%>
<!-- <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div> -->
    <div class="row" role="group" aria-label="..." >

      <form action="/login" method="get">
        <input name="_method" value="new" type="hidden">
        <button type="button" class="btn btn-default">Login</button>
      </form>



      <form action="/signup" method="get">
        <input name="_method" value="new" type="hidden">
        <button type="button" class="btn btn-default">Signup</button>
      </form>

    </div>
    <% end %>



<%= yield %>

</body>
</html>
